<%= form_for(@plant, local: true) do |form| %>
<%= render partial: "layouts/errors", locals: {object: @plant} %>
<br>
<div class="form group">
  <%= form.label :name %>
  <%= form.text_field :name, class:"form-control" %>
</div><br>
<div class="form group">
  <%= form.label :description %>
  <%= form.text_field :description, class:"form-control"  %>
</div><br>
<div class="form group">
  <%= form.label :location %>
  <%= form.text_field :location, class:"form-control" %>
</div><br>
<div class="form group">
  <%= form.label :light_requirement %>
  <%= form.text_field :light_requirement, class:"form-control" %>
</div><br>
<div class="form group">
  <%= form.label :watering %>
  <%= form.text_field :watering, class:"form-control" %>
</div><br>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>