<%= form_for(@plant, local: true) do |form| %>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>
<div class="field">
  <%= form.label :location %>
  <%= form.text_field :location %>
</div>
<div class="field">
  <%= form.label :light_requirement %>
  <%= form.text_field :light_requirement %>
</div>
<div class="field">
  <%= form.label :watering %>
  <%= form.text_field :watering %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>