<h2>Plants Show Page</h2>
  <p>
    <p><strong>Name:</strong>
    <%= @plant.name %></p>
    <p><strong>Description:</strong>
    <%= @plant.description %></p>
    <p><strong>Location:</strong>
    <%= @plant.location %></p>
    <p><strong>Watering:</strong>
        <%= @plant.watering %></p>
    <h4>By: <%=link_to @plant.user.name, user_path(@plant.user)%> </h4>
  </p>

  <p><%= link_to 'Add a new review', new_plant_review_path(@plant)%></p>
<% if !@plant.reviews.empty? %>
  <p><%= link_to 'See all reviews', plant_reviews_path(@plant)%></p>
  <h4>Most Recent reviews:</h4>
  <% @plant.reviews.order(updated_at: :desc).limit(3).each do |r|%>
    <li>
      <strong><%= r.user.name%></strong> says "<%= link_to r.rating, plant_reviews_path(@plant,r) %>"
    </li>
  <% end %>
  <% end %>

  <br>
  <% if @plant.user == current_user %>
    <%= link_to 'Edit', edit_plant_path(@plant) %> |
    <%= link_to 'Delete', plant_path(@plant),method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
 <br>
 <% end %> 
 <br>
   <%= link_to 'Back', plants_path %>
 

