<!DOCTYPE html>
<html>
  <head>
    <title>PlantCabinetRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <center>
  <% if logged_in? %>
<%= link_to "home", user_path(current_user.id), method:'get' %>
  <%= link_to "add a plant", new_plant_path %>
  <%= link_to "add a review", new_review_path %> 
  <%= link_to "all plants", plants_path %> 
  <%= link_to "all reviews", reviews_path %> 
  <%= link_to "log out", logout_path, method: :delete %>
</center>
<% end %>

    <%= yield %>
  </body>
</html>


